<template name="about">
	<div class="container">
  		<div class="row">
  			<div class="col-sm-8">
<h2>About us</h2>
<p>This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet. This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet. This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet.</p><h3> Subtitle</h3> <p>This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet. This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet. This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet.</p><p> This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet. This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet. This is an awesome company with great products. You know nothing. Lorem ispum dolor sit amet.</p>
</div>
</div>
</div>
</template>